/* -----------------------------
修改初始值
----------------------------- */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 2rem 1rem;
}

a:hover,
a:active {
  color: rgba(51, 51, 51, 0.555);
}

/* -----------------------------
业务代码
----------------------------- */
.header {
  height: 5rem;
  padding: 0 5%;
  display: flex;
  align-items: center;
}

.logo {
  padding: 0 1rem;
}

ul.nav-items {
  flex: 1;
}

ul.nav-items > li {
  display: inline-block;
}

.btn {
  border: none;
  border-radius: 0;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-join {
  height: 100%;
  padding: 0 2rem;
  background-color: #4a90e2;
  color: white;
}

.btn-donate {
  height: 100%;
  padding: 0 2rem;
  background-color: rgb(232, 91, 70);
  color: white;
}

.content {
  padding: 0 5%;
}

.intro {
  min-height: 24rem;
  text-align: center;
  padding: 10rem 6rem 2rem 6rem;
}

.intro-title {
  font-size: 5.5rem;
}

.title-sup {
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 0.8rem 1rem;
  margin-left: 1rem;
  border-radius: 5px;
  color: #4a90e2;
  background-color: #d9e7f8;
}

.intro-subtitle {
  font-size: 4rem;
  padding-bottom: 2.5rem;
}

.subtitle {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
}

/* -----------------------------
媒体查询 
----------------------------- */

@media (max-width: 26.5625em) {
  .header {
    padding: 0;
  }

  .btn {
    display: none;
  }

  .content {
    padding: 0;
  }

  .intro {
    padding: 5rem 3rem 3rem 3rem;
  }
}

/* -----------------------------
工具类
----------------------------- */

.text-center {
  text-align: center;
}

.c-p {
  cursor: pointer;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-1 {
  padding-left: 1rem;
}

.pr-2 {
  padding-left: 2rem;
}

.px-1 {
  padding: 0 1rem;
}

.px-2 {
  padding: 0 2rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}
